body {
    padding: 0;
    margin: 0;
    background-color: rgb(77, 76, 76);
    color: #fff;
}

.centerDiv {
    position: absolute;
    left: 50%;
    top: 20%;
    transform: translate(-50%, -20%);
}

h2 {
    text-align: center;
}

div {
    margin: 5px 0;
}

input {
    padding: 4px 7px;
    border-radius: 0;
    border: 0;
    outline: 0;
}