body {
    margin: 0;
    background-color: #2c2c2c;
    color: #fff;
    padding: 10rem;
}

div {
    position: absolute;
    left: 50%;
    top: 30%;
    transform: translate(-50%, -30%);
}

span {
    display: block;
    width: 10%;
    background-color: #fff;
    color: black;
    padding: 12px 0 12px 12px;
    margin-left: 103px;
}

button {
    margin: 0 5px;
    padding: 5px 8px;
    border: 0;
    outline: 0;
}