body {
    margin: 0;
    padding: 0;
    background-image: url('../assets/bg.jpeg');
    background-size: cover;
    background-repeat: repeat-y;
    background-position: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

h2 {
    text-align: center;
    color: #fff;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    width: 20%;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    background-color: #fff;
}

.text-center {
    text-align: center;
}

.icon:hover {
    filter: opacity(0.5);
    cursor: pointer;
}

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.container {
    padding: 2px 16px;
}