body {
    padding: 0;
    margin: 0;
    background-image: url('../assets/bg.jpeg');
    background-size: cover;
    background-repeat: repeat-y;
    background-position: center;
}

.centerDiv {
    position: absolute;
    left: 50%;
    top: 40%;
    transform: translate(-50%, -40%);
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.centerDiv div {
    background-color: rgb(155, 42, 32);
    width: 135px;
    height: 50px;
    border-radius: 8px;
    text-align: center;
    font-size: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}