body {
    padding: 0;
    margin: 0;
    background-color: rgb(41, 71, 104);
    /* color: #fff; */
}

.centerDiv {
    position: absolute;
    left: 50%;
    top: 30%;
    transform: translate(-50%, -30%);
    color: #fff;
}

.centerDiv h5 {
    background-color: rgb(155, 42, 32);
    width: 135px;
    height: 50px;
    border-radius: 15%;
    text-align: center;
    font-size: 30px;
}